#title {
color:rgb(9, 92, 120);
font-family:Georgia;

letter-spacing: normal;
font-family: Georgia, Times, Time New Roman, serif;
text-rendering: optimizeLegibility;
font-size:3em;
}

#para{

 color:rgb(9, 92, 120);
 text-rendering: optimizeLegibility;

}
