@font-face {
  font-family: 'cookie';
  font-style: normal;
  font-weight: 400;
  src: local('Cookie-Regular'), url(http://fonts.gstatic.com/s/cookie/v7/AcsY-17-4vP458yJYlEZyfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


#title {
color:rgb(9, 92, 120);
font-family:Georgia;

letter-spacing: normal;
font-family: Georgia, Times, Time New Roman, serif;
text-rendering: optimizeLegibility;
font-size:3em;
}

#para{

 color:rgb(9, 92, 120);
 text-rendering: optimizeLegibility;

}
