<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width initial-scale=1.0, maximum-scale=1.0" />
	<meta name="description" content="Hi, I'm a test. I design experiences. I love minimal design, functionality, and delivering great user experiences.">
	<meta name="title" content="David Awad | Person">
	<meta name="title" content="David Awad | Person">
	<meta name="keywords" content="HTML,CSS,Javascript,UX,JSON,Rails">
	<title>David Awad | Person</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="css/strokeicons.css">
	<link rel="stylesheet" type="text/css" href="css/helper.css">
	<link rel="stylesheet" type="text/css" href="css/mfgicons.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="css/owl.theme.css">
	<link rel="stylesheet" type="text/css" href="css/owl.transitions.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="icon" type="image/png" href="img/favicon.png" />
	<script type="text/javascript" src="js/modernizr.js"></script>

</head>
<body>
<div id="wrapper">
	<div id="header">
		<div class="overlay">
			<div class="row">
				<div class="small-8 medium-2 columns">
					<img class="show-for-medium-up" src="img/logo.png">
					<img class="show-for-small-only" src="img/small-logo.png">
				</div>

				<div id="header-inner">
					<div class="small-12 columns">
						<h1 class="show-for-large-up">Hi, I'm David Awad. I <span class="element"></span></h1>
						<h1 class="hidden-for-large-up">Hi, I'm David Awad. I design shit.</h1>
					</div>

					<div class="small-12 columns">
						<a id="email" href="mailto:davidawad64@gmail.com">
							<button>
								Contact Me
							</button>
						</a>
					</div>

					<div class="small-12 columns">
						<img class="arrow floating" src="img/down-bold.png">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="about">
		<div class="row">
			<div class="small-12 columns">
				<div class="heading">
					<p>
						About
					</p>
				</div>
				<p class="large-text">I am a Developer from central NJ. I love minimal design, functionality, and making useful applications.</p>
			</div>
			<div class="small-12 columns">
				<h3 class="skills-exp-text centered">My Workflow</h3>
			</div>

			<div id="FlowList"></div>
		</div>

	</div>

	<div id="desk" class="divider">
		<div class="overlay">
			<div id="Divider1"></div>
		</div>
	</div>

	<div id="portfolio">
		<div class="row">
			<div class="small-12 columns">
				<div class="heading">
					<p>
						Portfolio
					</p>
				</div>
				<p class="skills-exp-text centered">I make many things.</p>

				<div id="slider">
					<div class="show-for-large-up">
						<img id="lefty" src="img/left-arrow.png">
					</div>

					<div class="show-for-medium-down slideMe large-text">Slide Me!</div>
					<div id="ProjectList" class="owl-carousel owl-theme">
						<!-- REPLACE WITH DYNAMIC -->

						<div class="item row">
							<div class="small-12 columns centered item-head">
					  		<i class="pe-7s-browser pe-3x"></i>
						  	<span class="large-text">Tracery Css grid</span>
					  	</div>

					  	<div class="small-12 columns centered">
					  		<img class="bordered" src="img/tracery.png">
					  		<p class="caption small-text">A tiny responsive css grid with visibility classes. Coming soon so for now check out this awesome logo by @hunnitgz-Aziz.</p>
					  	</div>
					  </div>

						<!-- <div class="item row">
							<div class="small-12 columns centered item-head">
					  		<i class="pe-7s-browser pe-3x"></i>
						  	<span class="large-text">Facebook Coding Challenge</span>
					  	</div>


					  	<div class="small-12 columns centered">
					  		<img class="bordered" src="img/fb-browser.png">
					  		<p class="caption small-text">My solution to a challenging and fun front-end puzzle problem given by Facebook.</p>

					  			<a href="https://github.com/kylejson/fb-coding-challenge" target="_blank"><button>Github</button></a>
					  	</div>
					  </div> -->

					  <div class="item row">
							<div class="small-12 columns centered item-head">
					  		<i class="pe-7s-film pe-3x"></i>
						  	<span class="large-text">Video Tutorial</span>
					  	</div>

					  	<div class="small-12 columns centered">
					  		<iframe class="show-for-large-up" width="470" height="300" src="http://www.youtube.com/embed/KxIm4mqeSe8" frameborder="0" allowfullscreen></iframe>
					  		<img class="hide-for-large-up" src="img/tut.png">
					  		<p class="caption small-text">A short video tutorial on the Chrome developer tools and how I use them.</p>

				  			<a class="hide-for-large-up" href="https://www.youtube.com/watch?v=KxIm4mqeSe8" target="_blank"><button>Watch It</button></a>
					  	</div>
					  </div>

						<div class="item row">
							<div class="small-12 columns centered item-head">
					  		<i class="pe-7s-browser pe-3x"></i>
						  	<span class="large-text">HackRu.org</span>
					  	</div>

				  		<div class="show-for-medium-up medium-4 columns pull-right">
				  			<img src="img/hackru-phone.png">
					  	</div>

					  	<div class="small-12 medium-8 columns centered">
					  		<img class="bordered" src="img/hackru-browser.png">
					  		<p class="caption small-text">The home page for Rutgers University's bi-annual hackathon. New design coming soon!</p>

				  			<a href="http://hackru.org/" target="_blank"><button>View Site</button></a>
					  	</div>
					  </div>

					  <div class="item row">
							<div class="small-12 columns centered item-head">
					  		<i class="pe-7s-browser pe-3x"></i>
						  	<span class="large-text">Homecoming</span>
					  	</div>

					  	<div class="small-12 columns centered">
					  		<img class="bordered" src="img/homecoming-browser.png">
					  		<p class="caption small-text">Small thank you splash page for Rutgers' Homecoming.</p>
					  	</div>
					  </div>

					  <div class="item row">
							<div class="small-12 columns centered item-head">
					  		<i class="pe-7s-browser pe-3x"></i>
						  	<span class="large-text">Shield Command</span>
					  	</div>

				  		<div class="show-for-medium-up medium-4 columns pull-right">
				  			<img src="img/tapshield-phone.png">
					  	</div>

					  	<div class="small-12 medium-8 columns centered">
					  		<img class="bordered" src="img/tapshield-browser.png">
					  		<p class="caption small-text">Shield Command is a web application interface for dispatchers to view information of users in emergency situations. I implemented UI/UX changes, chat, and mass alert push notification functionality with backbone.js and Parse.</p>

				  			<a href="http://tapshield.com/" target="_blank"><button>View Site</button></a>
					  	</div>
					  </div>

					  <div class="item row">
							<div class="small-12 columns centered item-head">
					  		<i class="pe-7s-joy pe-3x"></i>
						  	<span class="large-text">Dev Duel</span>
					  	</div>

					  	<div class="small-12 columns centered">
					  		<img class="bordered" src="img/devdual-browser.png">
					  		<p class="caption small-text">DevDuel is a Meteor.js game @designblooz and I created to battle other developers with moves crafted from github/twitter data. This game won me a ticket to the London.js conference.</p>

				  			<a href="http://devdual.meteor.com/" target="_blank"><button>Play It</button></a>
					  	</div>
					  </div>

					  <div class="item row">
							<div class="small-12 columns centered item-head">
					  		<i class="pe-7s-joy pe-3x"></i>
						  	<span class="large-text">Geek Week Game</span>
					  	</div>

					  	<div class="small-12 columns centered">
					  		<img class="bordered" src="img/geekweek.png">
					  		<p class="caption small-text">The Geek Week Game is a simple 2D platformer made with canvas and a small javascript game engine written from scratch.</p>

				  			<a href="http://eden.rutgers.edu/~kylejohn/GeekWeekGame/geekWeek.html" target="_blank"><button>Play It</button></a>
				  		</div>
					  </div>

					  <div class="item row">
							<div class="small-12 columns centered item-head">
					  		<i class="pe-7s-joy pe-3x"></i>
						  	<span class="large-text">Twerkbender</span>
					  	</div>

					  		<div class="show-for-medium-up medium-4 columns pull-right">
					  			<img src="img/twerk-phone.png">
						  	</div>

					  	<div class="small-12 medium-8 columns centered">
					  		<img class="bordered" src="img/twerk-browser.png">
					  		<p class="caption small-text">Gravatar: The Last Twerkbender is a funny web game Aziz Ramos and I made at hackRU Fall 2013. The game uses Rdio, Gravatar, Meteor.js and the open source accelerometer javascript plugin shake.js.</p>

				  			<a href="http://thelasttwerkbender.meteor.com/" target="_blank"><button>Play It</button></a>
					  	</div>
					  </div>

					  <div class="item row">
							<div class="small-12 columns centered item-head">
					  		<i class="pe-7s-browser pe-3x"></i>
						  	<span class="large-text">Razorsharp</span>
					  	</div>

				  		<div class="show-for-medium-up medium-4 columns pull-right">
				  			<img src="img/razor-phone.png">
					  	</div>

					  	<div class="small-12 medium-8 columns centered">
					  		<img class="bordered" src="img/razor-browser.png">
					  		<p class="caption small-text">A Wordpress Site I made with the help of @AntGibbz for a classy and modern barbershop in Edison, New Jersey. I customized a template, created layouts, and implemented a few plugins.</p>

				  			<a href="http://www.rsbsx13.com/" target="_blank"><button>View Site</button></a>
					  	</div>
					  </div>

						<!-- END OF REPLACE WITH DYNAMIC -->
					</div>

					<div class="show-for-large-up">
						<img id="righty" src="img/right-arrow.png">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="coding" class="divider">
		<div class="overlay">
			<div id="Divider2"></div>
		</div>
	</div>

	<div id="experience">
		<div class="row">
			<div class="small-12 columns">
				<div class="heading">
					<p>
						Experience
					</p>
				</div>
				<div class="small-12 medium-6 columns">
					<div id="JobsList"></div>
				</div>

				<div class="small-12 medium-6 columns">

					<div id="SkillsList"></div>
					<div class="row">
						<div class="small-12 columns">
							<a id="resume" href="resume.pdf" target="_blank">
								<button class="small-12 medium-4 columns pull-right">Resume</button>
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div id="back" class="divider">
		<div class="overlay">
			<div id="Divider3"></div>
		</div>
	</div>

	<div id="contact">                    <!-- code for the mini terminal!-->
		<div class="row">
			<div class="small-12 columns">
				<div class="heading">
					<p>
						Contact
					</p>
				</div>
				<div class="centered hidden-for-medium-up">
					<p class="skills-exp-text ">Drop me a line.</p>
					<p class="small-text">Email: davidawad64@gmail.com</p>
					<p class="small-text">Phone: 732-925-4874</p>
				</div>
				<p class="skills-exp-text centered show-for-medium-up">Type the command “email” or “resume” into the console.</p>
				<div id="console" class="show-for-medium-up">
					<div id="bar">
						<div id="green"></div>
						<div id="yellow"></div>
						<div id="red"></div>
					</div>
					<div id="window">
						<form>
							<span id="form">
								<label class="">Ubuntu@bash~$</label>
								<input class="" type="text">
							</span>
						</form>

						<pre id="output"></pre>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="push"></div>
	<footer>
			<h1>Follow me.</h1>
			<div class="row">
				<div class="small-3 columns centered">
					<a href="https://medium.com/@kylejson" target="_blank">
						<img src="img/medium.png">
					</a>
				</div>
				<div class="small-3 columns centered">
					<a href="https://twitter.com/davidawad" target="_blank">
						<i class="icon-twitter icon3x"></i>
					</a>
				</div>
				<div class="small-3 columns centered">
					<a href="https://github.com/Davidawad" target="_blank">
						<i class="icon-git icon3x"></i>
					</a>
				</div>
				<div class="small-3 columns centered">
					<a href="http://codepen.io/kylejson/" target="_blank">
						<img src="img/pen.png">
					</a>
				</div>

				<div class="small-12 columns">
					<p class="centered">&copy; David Awad</p>
				</div>
			</div>
	</footer>
</div>

	<!-- Divider Template -->
	<script type="text/template" id="DividerTmp">
		<a href="<%= model.get('url') %>" target="_blank">
				<div class="table">
					<p><%= model.get('copy') %></p>
				</div>
			</a>
	</script>

	<!-- Experience Template -->
	<script type="text/template" id="ExperienceTmp">
		<div class="job">
			<span class="skills-exp-text"><%= model.get('name') %></span> <span class="date"><%= model.get('timeframe') %></span>
			<p><%= model.get('description') %></p>
		</div>
	</script>

	<!-- Project Template -->
	<script type="text/template" id="ProjectTmp">
		<div class="item row">
			<div class="small-12 columns centered item-head">
	  		<i class="<%= model.get('icon') %>"></i>
		  	<span class="large-text"><%= model.get('name') %></span>
	  	</div>

	  	// CHANGE THIS TO HANDLE 12 COLS IF NO MOBILE PHOTO	*FIXED*
	  	<% if (model.get('phone') != '') { %>
	  		<div class="show-for-medium-up medium-4 columns pull-right">
	  			<img src="<%= model.get('phone') %>">
		  	</div>

		  	<div class="small-12 medium-8 columns centered">
		  		<img class="bordered" src="<%= model.get('main') %>">
		  		<p class="caption small-text"><%= model.get('description') %></p>

		  		<% if (model.get('url') != '') { %>
		  			<a href="<%= model.get('url') %>" target="_blank"><button><%= model.get('linkname') %></button></a><%
	  			} %>
		  	</div><%
	  	} else { %>
		  	<div class="small-12 columns centered">
		  		<img class="bordered" src="<%= model.get('main') %>">
		  		<p class="caption small-text"><%= model.get('description') %></p>

		  		<% if (model.get('url') != '') { %>
		  			<a href="<%= model.get('url') %>" target="_blank"><button><%= model.get('linkname') %></button></a><%
					} %>
		  	</div><%
			} %>
	  </div>
	</script>

	<!-- Skill Template -->
	<script type="text/template" id="SkillTmp">
		<div class="skill row">
			<div class="small-5 columns">
				<span class="skills-exp-text centered"><%= model.get('name') %></span>
			</div>

			<div class="small-7 columns">
				<div class="progress">
			  	<span style="width: 0%;" data-width="<%= model.get('percent') %>" class="meter grow"></span>
				</div>
			</div>
		</div>
	</script>

	<!-- Workflow Template -->
	<script type="text/template" id="WorkflowTmp">
		<div class="small-12 medium-3 columns">
			<div class="centered">
				<i class="<%= model.get('icon') %>"></i>
			</div>
			<p class="small-text"><%= model.get('copy') %></p>
		</div>
	</script>

	<!-- Lè Javascripts -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/_.js"></script>
	<script type="text/javascript" src="js/backbone.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/typed.js"></script>
	<script type="text/javascript" src="js/owl.carousel.js"></script>
	<script type="text/javascript" src="js/ux.js"></script>
</body>
</html>
