@font-face {
		font-family: 'billabongregular';
		src: url('/res/billabong-webfont.eot');
		src: url('/res/billabong-webfont.eot?#iefix') format('embedded-opentype'),
				url('/res/billabong-webfont.woff') format('woff'),
				url('/res/billabong-webfont.ttf') format('truetype'),
				url('/res/billabong-webfont.svg#billabongregular') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'amplify';
		src: url('/res/amplify_personaluseonly-webfont.eot');
		src: url('/res/amplify_personaluseonly-webfont.eot?#iefix') format('embedded-opentype'),
				url('/res/amplify_personaluseonly-webfont.woff') format('woff'),
				url('/res/amplify_personaluseonly-webfont.ttf') format('truetype'),
				url('/res/amplify_personaluseonly-webfont.svg#amplify_personal_use_onlyRg') format('svg');
		font-weight: normal;
		font-style: normal;

}

p::selection {
background-color: #0099cc;
color: #fff;
}

#header{
	margin:0 auto;
	text-align:center;
	padding: 0 20px 20px 0 ;
	float: center;
}

ul {

    width: 100%;

    margin: 5%;
    list-style-type: none;
}

li {
    display: inline;
}
