.full-avatar{
    border-radius: 100%;
    max-width: 225px;
    width: 100%;
    margin: 0 auto 4rem;
}

.white-bg {
    background-color: #FFFFFF;
}

.ama-bg{
    background-color: #241F20 !important;
}
