body 
{
  background-color: #CDE9A3;
  margin: 0;
  overflow: hidden;
  font-family: Ubuntu, sans-serif;
  color:white;
  font-size: 11pt;
}

.ThreeJS
{
  z-index: 1;
  position: absolute;
}

.main
{
  overflow-y: scroll; 
  overflow-x: hidden;
  left: 42px;
  height:100%;
  width:400px;
  padding-right:10px;
  z-index: 2; 
  position: absolute;
}

::-webkit-scrollbar 
{
  width: 9px;
  height: 10px;
}

::-webkit-scrollbar-track 
{
  background-color:rgba(255,240,19,0.8);
  -webkit-border-radius: 16px;
}

::-webkit-scrollbar-thumb 
{
  -webkit-border-radius: 16px;
  background-color:rgba(255,55,255,0.45);
}

::-webkit-scrollbar-thumb:hover 
{
  background-color:rgba(255,0,0,0.5);
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  
{
  height: 42px;
  display: block;
  background-color: transparent;
}

a:link,a:visited
{
  color:#FF3F0E;
  background-color:rgba(255,255,255,0.45);
  font-size:10;
  width:140px;
  text-align:center;
  padding:2px;
  -webkit-border-radius: 5px;
  text-decoration:none;
}

a:hover,a:active
{
  background-color:rgba(47,235,255,0.5);
}
