body {
	/*background-color: #e6e7e8;*/
	font-family: 'Lato', sans-serif !important;
}

/*
*Header
*/

#header { 
	background: url('../img/mealt.jpg') no-repeat top center fixed; /*fixed*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

#header-inner {
	padding: 5%;
	margin-top: 150px;
	text-align: center;
}

/*
*Owl slider
*/
#owl-demo {
	margin-top: 25px;
}

.slideMe {
	background-color: rgba(36,36,36,0.75);
	position: absolute;
	color: white;
	padding-top: 40px; 
	text-align: center;
	height: 100px;
	width: 100%;
	z-index: 20;
}

.item span {
	margin-left: 25px;
	vertical-align: 10px;
}

.item .small-text {
	padding: 0 5%;
}

.bordered {
	border: 1px solid #eee;
}

#slider {
	position: relative;
	z-index: 1;
}

.item-head {
	margin-bottom: 25px;
}

.caption {
	margin: 25px 0;
}

.item button {

}

iframe {
	margin: 0 auto;
}

/* DO THIS DYNAMICALLY WITH JAVASCRIPT*/

#lefty {
	position: absolute;
	cursor: pointer;
	z-index: 20;

	animation-name: bobleft;
	-webkit-animation-name: bobleft;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes bobleft {
	0% {
		transform: translateX(8%);	
	}
	50% {
		transform: translateX(0%);	
	}	
	100% {
		transform: translateX(8%);
	}			
}

@-webkit-keyframes bobleft {
	0% {
		-webkit-transform: translateX(8%);	
	}
	50% {
		-webkit-transform: translateX(0%);	
	}	
	100% {
		-webkit-transform: translateX(8%);
	}			
}

#righty {
	position: absolute;
	cursor: pointer;
	z-index: 20;

	animation-name: bobright;
	-webkit-animation-name: bobright;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes bobright {
	0% {
		transform: translateX(0%);	
	}
	50% {
		transform: translateX(8%);	
	}	
	100% {
		transform: translateX(0%);
	}			
}

@-webkit-keyframes bobright {
	0% {
		-webkit-transform: translateX(0%);	
	}
	50% {
		-webkit-transform: translateX(8%);	
	}	
	100% {
		-webkit-transform: translateX(0%);
	}			
}

/*
*Overlay
*/
.overlay {
	background-color: rgba(36,36,36,0.45);
	height: 100%;
	width:100%;
}

#header .overlay {
	padding: 4%;
}

.floating{
	margin: 40px auto;
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(8%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}


/*
*Text
*/

.centered {
	text-align: center;
}

.large-text {
	font-size: 2rem;
	margin-bottom: 50px;
}

.small-text {
	font-size: 1rem;
}

.skills-exp-text {
	color: #39d1b4;
	font-size: 20px;
	font-weight: bold;
}

/*
*Icons
*/
#about i {
	margin: 25px 0px 25px;
}

h1 {
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	padding: 18% 0 5% 0;
}

/*
*Dividers
*/
.divider {
	cursor: pointer;
	height: 350px;
	position: relative;
	width: 100%;
}

.divider:hover {
	opacity: 0.90;
}

.table { 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  display: table; 
}

.table p {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
  color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 40px;
	font-weight: 300;
	padding: 3%;
}

#back {
	background: url('../img/back.png') no-repeat center center; /*fixed*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#coding { 
	background: url('../img/coding.png') no-repeat center center; /*fixed*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#desk {
	background: url('../img/desk.png') no-repeat center center; /*fixed*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*
*Sections
*/

#about, #portfolio, #experience {
	padding: 5% 0;
}

#contact {
	padding: 5% 0 0 0;
	margin: 0;
}

/*
*Buttons
*/
button {
	background-color: #39d1b4;
	border: none;
	color: white;
	opacity: 0.85;
	padding: 15px 25px;
	text-transform: uppercase;
}

button:hover {
	opacity: 1;
}

button a, button a:hover {
	color: #fff;
}

.arrow:hover {
	cursor: pointer;
}

/*
*Headings
*/
.heading {
	text-align: center;
	margin-bottom: 50px;
}

.heading  p{
	border: 4px solid #1e3f57;
	display: inline-block;
	font-size: 40px;
	margin: 10px auto;
	padding: 0px 20px;
	text-transform: uppercase;
}

/*
*Experiences
*/
.job {
	padding-bottom: 3%;
}

.job p {
	margin-top: 2%;
}

.date {
	margin-left: 5%;
}

/*
*Progress Bars
*/

.progress {
	border: 4px solid #39d1b4;
	padding: 3px;
}

.progress .meter {
	background-color: #39d1b4;
}

.skill {
	text-align: center;
	padding-bottom: 3%;
}

/*
*Contact
*/
#contact {
	min-height: 350px;
	z-index: -1;
}

/*
*Console
*/
#console {
	background-color: #242424;
	/*display: none;*/
	height: 450px;
	margin: 50px 0 -300px;
}

label {
	display: block;
	float: left;
	width: 15%;
}

input, input:focus {
	float: right;
	width: 84%;
	margin-top: -3px;
  background: transparent;
  border: none;
  outline: none;
}

input {
  animation: blink-empty 1s infinite;
  border-left: transparent solid 1px;
}

@keyframes blink-empty {
  50% {border-left: 1px solid #000;}
}

#output {
	clear: both;
	font-family: monospace;
	line-height: 25px;
	font-size: 14px;
}

.warning {
	color: #f65a5b; 
}

.greeting {
	color: #39d1b4;
}

.dolla {
	color: #39d1b4;
}

#bar {
	background-color: #bcbec0;
	height: 30px;
	padding: 7px;
}

#bar > div {
	float: left;
	margin-left: 10px;
}

#window {
	color: #fff;
	font-weight: 800;
	height: 420px;
	padding: 25px;
}

#green {
	background-color: #39d1b4;
	border-radius: 50%;
	height: 15px;
	width: 15px;
}

#yellow {
	background-color: #fff799;
	border-radius: 50%;
	height: 15px;
	width: 15px;
}

#red {
	background-color: #f65a5b;
	border-radius: 50%;
	height: 15px;
	width: 15px;
}

/*
*Footer
*/
footer {
	background-color: #39d1b4;
	color: #fff;
	height: 350px;
	margin-top: -3.5px;
	position: relative;
	z-index: 1;
}

.up {
	margin: -3.5px 0 
}

footer a , footer a:hover {
	color: #fff;
}

footer h1 {
	padding: 50px 0;
	text-align: center;
}

footer p {
	margin-top: 50px;
}

/*
*Typing cursor
*/
#typed-cursor{
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

/*
*Media Queries - Custom
*/
@media only screen and (max-width: 640px) {
	#header { 
		background: url('../img/mealt-small.jpg') no-repeat top center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;
	}
	
	.large-text {
		font-size: 1.5rem;
	}

  .table p, h1 {
		font-size: 1.75rem;
	}

	.owl-pagination , .owl-controls {
		display: none !important;
	}
}